

body{
	background-color: #595857;
  	color: white;
  	text-shadow: 1px 1px 2px #000000;
  	font-family: Arial, Furura, Trebuchet MS, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

#main-header{
	font-size: 30px;
	background-color: #8a0900;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#navbar{
	font-weight: bold;
	background-color: #333;
	color: white;
	padding: 5px;
}

#navbar ul{
	display: flex;
	justify-content: space-between;
	padding: 0;
	list-style: none;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 36px;
	padding-right: 15px;
}

#main-block{
	flex: 2;
	background-color: #333;
	color: white;
}

#rules-block{
	flex: 4;
	font-size: 13px;
	background-color: #333;
	color: white;
}

#sidebar{
	flex: 1;
	justify-content: center;
	background-color:#333;
	color:#fff;
	border: 1px #ccc solid;
	padding: 10px;
}

.lists{
	display: flex;
flex-direction: column;
}

.team{
	flex-grow: 2;
	font-size: 24px;
	justify-content: center;
	color: white;
	border: 1px #ccc solid;
	border-radius: 15px;
	box-shadow: 10px 10px black;
	margin: 100px;
	padding: 40px;
}

.team ul{
	text-align: left;
	list-style-image: url('./images/skull_icon.png');
	padding-right: 30px;
	margin: 0;
}



.block{
	text-align: left;
	font-size: 12px;
	color: white;
	float: left;
	width: 25%;
	border: 1px #ccc solid;
	border-radius: 15px; 
	margin: 5px;
	padding: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}

#date-list{
	font-size: 18px;
	line-height: 1.6em;
	background-color: #333;
	color: white;
}

#minor-header{
	font-size: 18px;
	line-height: 1.6em;
	background-color: #333;
	color: white;
	text-align: center;

}

.clr{
	clear: both;
}













